:root {
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --slate: #434455;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.link {
  text-decoration: none;
}
.web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.studio {
  color: var(--navy-blue);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.link-list {
  text-decoration: none;
}
.nav-menu {
  font-family: "Roboto", sans-serif;
  color: var(--navy-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-menu-link {
  text-decoration: none;
}
.nav-menu:hover,
.nav-menu:focus {
  color: #404bbf;
}
.contact-list {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-list:hover,
.contact-list:focus {
  color: #404bbf;
}
.filter-item .link {
  color: var(--iris);
  background-color: var(--cloud);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--white);
  border-radius: 4px;
}
.button {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.filter-list {
  list-style: none;
  text-decoration: none;
}
.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.filter-btn:active {
  background-color: #404bbf;
  color: #ffffff;
}
.filter-item {
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.list {
  list-style: none;
}
.ttl {
  color: var(--navy-blue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}
.address {
  font-style: normal;
  text-decoration: none;
}
.ttl_one {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.dark-section {
  background-color: #2e2f42;
}
.tittle {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.custom {
  background-color: #ffffff;
}
.fond_f {
  background-color: #f4f4fd;
}
.studio-link {
  color: #f4f4fd;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.text-footer {
  color: var(--cloud);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text-footer {
  background-color: #2e2f42;
}
.ftr {
  background-color: #2e2f42;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header .container {
  display: flex;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: 141px;
  margin-right: 141px;
  margin: 0 auto;
}
.hero {
  width: 1440px;
  height: 600px;
  margin: 0 auto;
}
.ttl_one {
  max-width: 496px;
  height: 120px;
  padding-top: 188px;
  padding-bottom: 48px;
  margin: 0 auto;
}
.button {
  min-width: 169px;
  padding: 16px 32px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.text-article {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.text-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.tech-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tech-list {
  display: flex;
  margin: 24px;
  flex-direction: row;
  align-items: flex-start;
}
.prof-list {
  display: inline-flex;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.prof-list {
  background-color: #ffffff;
  width: ((100% - 72px) / 4);
  list-style: none;
  flex-direction: row;
}
.collage-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0 auto;
  list-style: none;
}
.collage-link {
  border: 1px solid var(--cornflower);
  width: calc((100% -48px) / 3);
  list-style: none;
}
.header .nav {
  display: flex;
  align-items: center;
  margin-right: 332px;
}
.web {
  margin-right: 76px;
}
.nav .list,
.address .list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-section .filter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-section .list {
  justify-content: center;
  margin-bottom: 72px;
  border: 10px solid red;
}
.filter-list {
  margin-bottom: 72px;
  list-style-type: none;
}
.filter-list .filter-item {
  margin-right: 24px;
}
.filter-list .filter-item:last-child {
  margin-right: 0;
}
.filter-btn {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background-color: var(--cloud);
}
.filter-item .link:hover,
.filter-item .link:focus,
.filter-item .link:active {
  color: var(--cornflower);
  background-color: var(--iris);
  border: 1px solid transparent;
}
.collage {
  width: calc((100% -48px) / 3);
}
.portfolio-section .collage-about {
  padding: 32px 16px;
  border: 1px solid var(--cloud);
  border-top: none;
}
.ftr {
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
}
